.outer{
    margin: 10px 30px;
    width: 100%;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}
.title{
    color: silver;
    margin-left: 10px;
}
.wrapper{
    display: flex;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.phone-container{
    display: flex;
    width: 70%;
    padding: 6px;
    transform: translateX(0px);
    transition: all 1ms step-end;
    scroll-behavior: smooth;
}
.phone-details{
    display: flex;
    flex-direction: column;
    border: solid 1px #bebebe;
    border-radius: 4px;
    width: 200px;
    height: 240px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    padding: 7px 2px;
    position: relative;
    line-height: 0%;
}
.phone-details img{
    width: 146px;
    height: 165px;
}
.phone-details p{
    font-size: medium;
    align-items: center;
    display: inline;
    line-height: 0%;
}
.phone-details h4{
    line-height: 0%;
    font-weight: 500;
}

.arrows{
    position: absolute;
    height: 60px;
    width: 20px;
    color: gray;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    z-index: 100;
    top: 0;
    bottom: 0;
    margin: auto;
}
.left{
    left: 0;
    position: absolute;
    
}
.right{
    right: 200px;
    position: absolute;
}
.side-banner{
    position: absolute;
    right:0;
    margin-top: 60px;
}
.side-banner img{
    right: 0;
    width:200px;
    height: 263px;
    z-index: 97;
}
h2{
    color: #212121;
    box-sizing: border-box;
    overflow-wrap: break-word;
    font-weight: 600;
    margin-left: 10px;
    font-size: 23px;
}
